@import '~bootstrap/scss/bootstrap';

header {
  justify-content: center;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: fff;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 100px;
  background-color: #abd1bb;
}

table {
  border-collapse: collapse;
  flex-direction: column;
  left: 50%;
  margin-left: 20%;
  top: 50px;
}

body {
  background-color: #ccd8dc
}

.board-container {
  height: 100%;
  width: 100%;
}

.board {
  width: 330px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  align-items: center;
  background-color: #abd1bb;
  border: 5px solid;
  height: 100px;
  justify-content: center;
  width: 100px;
  text-align: center;
  font-size: 55px;
  display: none;
}

.box:hover {
  background-color: #e5f1ea;
  transition: 0.5s ease;
}

.wins {
  font-size: 100px;
  // display: none;
  background-color: #abd1bb;
}

// .owins {
//   font-size: 100px;
//   background-color: #abd1bb;
// }

.tie {
  font-size: 100px;
  background-color: #abd1bb;
}

#game {
  // display: none;
}
